<section class="block container block__domain">
    <header class="block__header">
      <h2>Satrting at 9$ per months</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio blanditiis fugiat sunt quibusdam.</p>
    </header>
    <div class="input-group">
      <input type="text" class="input" placeholder="Enter domain name...">
      <button class="btn btn--accent"> <svg class="icon icon--white">
          <use xlink:href="../images/sprite.svg#search"></use>
        </svg>Search</button>
    </div>
    <ul class="list block-domain__prices">
      <li>.com $9.26</li>
      <li><span class=" badges badge--secondary">sg $7.91</span></li>
      <li>space $12</li>
      <li>.info $14.15</li>
      <li>.net $16.15</li>
      <li>xyz $10.15</li>
    </ul>
  </section>