<div class="media">
    <div class="media__image">
        <svg class="icon icon--primary">
            <use xlink:href="../images/sprite.svg#snap"></use>
        </svg>
    </div>
    <div class="media__body">
        <h3 class="media__title">Easy Start & Managed Updates</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere harum molestiae vel nostrum nesciunt
            saepe nihil id? Totam itaque asperiores odio repudiandae illum illo adipisci. Voluptatum, ipsam. Esse,
            iste officiis?
        </p>
    </div>
</div>