<section class="block">
    <header class="block__header">
      <h2>What Our Customers Are Saying</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore tempora est. </p>
    </header>
    <div class="container">
      <div class="card testimonial">
        <div class="grid grid--1x2">
          <div class="testimonial__image">
            <img src="../images/testimonial.jpg" alt="a smiley customer">
            <span class="icon-container icon-container--accent">
              <svg class="icon icon--white icon--small">
                <use xlink:href="../images/sprite.svg#quotes"></use>
              </svg>
            </span>
          </div>
          <blockquote class="quote">
            <p class="quote__text">
              Love their services and suggesting every one to use their services
            </p>

            <footer class="quote__footer">
              <div class="media">
                <div class="media__image">
                  <svg class="icon icon--primary quote__line">
                    <use xlink:href="../images/sprite.svg#line"></use>
                  </svg>
                </div>
                <div class="media__body">
                  <h3 class="media__title quote__author">Jhone Lumeo</h3>
                  <p class="quote__company">ABC Company</p>
                </div>
              </div>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </section>
